/* CSS Style */
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

/* Header Top */

header {
  background-color: #4fa1fd;
  background-image: url(/assets/img/pattern.png);
  height: 175px;
}

header img {
  height: 45%;
  padding-left: 15px;
  margin-top: 80px;
}

/* Main Frame */

main {
  padding: 10px;
}

/* Article Header */

h1 {
  font-size: 40px;
  margin-bottom: 0;
}

#article-author {
  font-size: 15px;
  color: #808080;
}

a {
  text-decoration: none;
  color: #7cb9ff;
}

time {
  font-size: 12px;
}

figure {
  margin: 0;
  padding-top: 20px;
}

figcaption {
  font-size: 12px;
  color: #000;
}

/* Paragrafo */

#article-para {
  padding: 10px 0px 0px 0px;
}

p {
  margin: 20px 0 25px 0;
}

/* Lista */
ul {
  padding: 20px 0px;
  padding-inline-start: 15px;
}

/* Tabella */

table {
text-align: left;
  border-collapse: collapse;
}

thead {
  text-align: left;
}

th {
  background-color: #20a9e5;
  color: white;
}

#th-50 {
  width: 50%;
}

#th-25 {
  width: 25%;
}

tr {
  background-color: #b1e5f2;
}

#tr-alt {
  background-color: #FFFFFF;
}

/* Aside Content */
figure {
	position: relative;
	padding: 0;
}
h3 {
	color: #808080;
	/* margin-bottom: 0px; */
}
#text-within {
	color: white;
	position: absolute;
	padding: 10px;
	margin: 0;
}