/* CSS Style */
body {
	margin: 0;
}

/* Header Top */

header {
	background-color: #4FA1FD;
	background-image: url(/assets/img/pattern.png);
	height: 175px;
}

header img {
	height: 30%;
    margin-top: 80px;
    margin-left: 10px;
}

/* Main Frame */

main {
	margin-left: 10px;
}


/* Article Header */

h1 {
	margin-bottom: 0;
}
article {
	font-style: normal;
  	font-size: 1.0rem;
	color: #808080;
	}

a {
  text-decoration: none;
  color: #7cb9ff;
}
time {
	font-size: 12px;
}

figure {
	margin: 0;
	padding-top: 20px;
}

figcaption{
	font-size: 12px;
	color: #000;
}

/* Paragrafo */

#article-para {
	padding: 10px 0px 20px 0px;
}

/* Lista */
ul {
	padding: 20px 0px;
	padding-inline-start: 15px;
}